@font-face {
  font-family: Roboto-Regular;
  src: url(/tetlisna-JSFE2022Q3/online-zoo/assets/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(/tetlisna-JSFE2022Q3/online-zoo/assets/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-Thin;
  src: url(/tetlisna-JSFE2022Q3/online-zoo/assets/fonts/Roboto-Thin.ttf);
}
@font-face {
  font-family: Roboto-Medium;
  src: url(/tetlisna-JSFE2022Q3/online-zoo/assets/fonts/Roboto-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1600px;
  /* margin: auto; */
}

p {
  color: var(--text-color-black);
  line-height: 22.4px;

}
.list {
  padding: 29px;
  font-family: Roboto-Regular;
  color: #fff;
  text-decoration: none;
  line-height: 22.4px;
  font-family: Roboto-Regular;

}
.list:hover {
    color: var(--orange-color-light);
}
/*****----Navigation----*****/
.nav {
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu {
  color: #fff;
  display: flex;
}

.logo  {
  display: flex;
  margin: 14px 0;
  padding-left: 34px;
  width: 82px;
  height: 52px;
  border:1px solid #fff;
  border-radius: 2px;
  margin-right: 63px;
  text-decoration: none;


}
.logo-img {
    position: absolute;
    /* top: 22px;
    left: 9px; */
}
.logo-txt {
    position: relative;
    color: #fff;

}
/*****----After-Navigation----*****/

.panda {
  position: relative;
  display: block;
  height: 780px;
  left: 0px;
  right: 0px;
  top: 0px;
  background: url(/tetlisna-JSFE2022Q3/online-zoo/assets/images/GiantPanda.png);
}

.header2 {
  font-size: 48px;
  line-height: 57.6px;
  font-family: Roboto-Regular;
  color: var(--text-color-black);
  padding-bottom: 20px;
}
.header3 {
  font-size: 24px;
  line-height: 28.8px;
  font-family: Roboto-Regular;
  color: var(--text-color-black);
  padding-bottom: 34px;
  padding-top: 54px;
}
.large {
  position: absolute;
  line-height: 75%;
  top: 92px;
  width: 500px;
  height: 400px;
  font-size: 106px;
  left: calc(50% - 465px / 2 + 239.5px);
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0em;
}
.yellow {
  color: var(--yellow-color);
}
.watch-online panda {
  position: absolute;
  top: 92px;
}
.circle {
  position: relative;
  /* display: flex; */
  width: 465px;
  height: 465px;
  left: calc(50% - 465px / 2 + 239.5px);
  top: 92px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}

.ft1 {
  position: relative;
  left: 900px;
  margin-top: 150px;
}
.ft2 {
}
.article {
  display: flex;
  justify-content: center;
  width: 75%;
  margin: auto;
  padding-top: 140px;
  padding-bottom: 180px;
}
.backstage-img {
  padding-right: 87px;
}
.orange {
  background: var(--orange-color-light);
}
.active {
    color: var(--orange-color-light):
}
.ft2 {
    background:url(/tetlisna-JSFE2022Q3/online-zoo/assets/images/flower_foto1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.ft3 {
    display: flex;
    justify-content: center;
}
.animal-cards {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 200px 200px 200px;
}


.box {
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
}